.container,
.container_peragraphs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  flex-direction: column;
  padding: 4rem;
  height: 90vh;
}

.header {
  font-size: 7rem;
  font-weight: 600;
  margin-bottom: 3rem;
  animation: moveInButtomHeader 0.7s ease-out;
}

.container_peragraphs {
  flex-direction: row;
  animation: moveInButtomPeragraphs 0.7s ease-out;
  margin-top: 4rem;
}

.header,
.container_peragraphs {
  animation-fill-mode: backwards;
}

.p {
  font-size: 1.4rem;
  border-radius: 100px;
  background-color: #e8e5e480;
  padding: 0.5rem 1.3rem;
  margin: 0.5rem;
  white-space: nowrap;
}

.bckgWhite:first-child {
  background-color: #fff;
}

@keyframes moveInButtomHeader {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInButtomPeragraphs {
  0% {
    opacity: 0;
    transform: translateY(7rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .header {
    font-size: 6rem;
    font-weight: 500;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .header {
    font-size: 5rem;
    font-weight: 500;
  }
  .container_peragraphs {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .header {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 6rem;
  }
  .container {
    height: 50vh;
  }
  .container_peragraphs {
    display: none;
  }
}
