.container {
  position: relative;
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  animation: moveInButtom 1s ease-out;
}

.img {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
  object-fit: contain;
  display: block;
  transition: filter 0.5s ease-in-out;
  background-position: bottom;
}

@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (min-width: 0px) and (max-width: 650px) {
  .container {
    width: 95vw;
  }
}
