.mainContainer {
  position: relative;
}

.link {
  display: inline-block;
  margin: 0 0.75rem 2.5rem;
  overflow: hidden;
  border-radius: 10px;
  width: 65rem;
  max-height: 42.7rem;
  min-width: 60rem;
  animation: moveInButtom 1s ease-out;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.img,
.backgroundVideo {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
  object-fit: contain;
  display: block;
  transition: filter 0.5s ease-in-out;
  background-position: bottom;
}

.backgroundVideo {
  height: 110%;
  object-fit: fill;
}

.container:hover .img {
  animation: blurImage 0.3s forwards;
}

.container .img {
  animation: clearImage 0.3s forwards;
}

.label {
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.iconCircle {
  position: absolute;
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  text-align: center;
  top: 2rem;
  right: 2rem;
  z-index: 1;
  opacity: 0;
  transform: translate(-10px, 10px) rotate(-45deg);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

[name="right-arrow-alt"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link:hover .label,
.link:hover .iconCircle {
  opacity: 1;
}

.link:hover .iconCircle {
  transform: translate(0, 0) rotate(-45deg);
  opacity: 1;
}

.labelHidden {
  display: none;
}

@keyframes blurImage {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(5px);
  }
}

@keyframes clearImage {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0);
  }
}

@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (min-width: 1150px) and (max-width: 1350px) {
  .link {
    width: 55rem;
    min-height: 10rem;
    min-width: 35rem;
  }
}

@media (min-width: 1000px) and (max-width: 1150px) {
  .link {
    width: 47.5rem;
    min-height: 10rem;
    min-width: 35rem;
  }
}

@media (min-width: 900px) and (max-width: 1000px) {
  .link {
    width: 42.5rem;
    min-height: 10rem;
    min-width: 35rem;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .link {
    width: 37.5rem;
    min-height: 10rem;
    min-width: 35rem;
  }
}

@media (min-width: 0px) and (max-width: 800px) {
  .link {
    width: auto;
    min-width: 10rem;
    max-width: 67rem;
    min-height: 10rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    height: 110%;
  }
  .iconCircle,
  .label {
    display: none;
  }
  .labelHidden {
    display: block;
    position: absolute;
    color: black;
    bottom: 0.5rem;
    left: 1.5rem;
    font-weight: 300;
    animation: moveInButtom 1s ease-out;
  }
  @keyframes blurImage {
  }

  @keyframes clearImage {
  }
}
