.link {
  display: inline-block;
  margin: 0 1.5rem;
  overflow: hidden;
  border-radius: 10px;
  width: 65rem;
  min-width: 60rem;
  animation: moveInButtom 0.7s ease-out;
}

.container {
  position: relative;
  width: 110%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: filter 0.5s ease-in-out;
}

.img:hover {
  animation: blurImage 0.5s forwards;
}

.label {
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.link:hover .label {
  opacity: 1;
}

@keyframes blurImage {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(5px);
  }
}

@keyframes clearImage {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0);
  }
}

@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.img {
  animation: clearImage 0.5s forwards;
}

@media (min-width: 1000px) and (max-width: 1250px) {
  .link {
    width: auto;
    min-width: 45rem;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  .link {
    width: auto;
    min-width: 35rem;
  }
}

@media (min-width: 0px) and (max-width: 750px) {
  .link {
    width: auto;
    min-width: 10rem;
    min-height: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
